.table {
    border-collapse: collapse;
    width: 100%;
    thead tr,
    tbody tr:nth-child(even) {
        background-color: #f8f8f8;
    }
    tbody tr:nth-child(odd) {
        background-color: #ffffff;
    }
    th,
    td {
        padding: 50px 10px;
        border: 2px solid #e3e6e8;
        text-align: left;
        font-weight: 600;
    }
}
